---
import { getCollection } from 'astro:content';
import AuthorCard from 'src/components/AuthorCard.astro';
import { siteConfig } from 'src/config/site-config';
import MainLayout from 'src/layouts/MainLayout.astro';

const authors = await getCollection('author');
---

<MainLayout title="Listado de autores">
  <section class="container px-6 py-10 mx-auto">
    <h1
      class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
    >
      {siteConfig.title}
    </h1>
  </section>

  <section class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    <!-- AuthorCard -->
    {authors.map((author) => <AuthorCard author={author} />)}
  </section>
</MainLayout>
