---
import { ViewTransitions } from 'astro:transitions';

import '../styles/blog.css';

// interface Props {
//   title?: string;
// }

const { title } = Astro.props; //, ...rest
// const frontmatter = rest.frontmatter;
// console.log('🚀 ~ frontmatter:', frontmatter);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body class="bg-gray-900">
    <a href="/" id="btn-back">Regresar</a>

    <main class="mb-10 max-w-5xl m-auto px-2 py-2">
      <slot />
    </main>
  </body>
</html>
